#dashboard
  .container
    input#search-movies data-entity="search-movies" type="text" placeholder="Type to Search"
    #results data-wrapper="results"
      = render "pages/movies"

javascript:
  var timer;
  $(document).on('keyup', '[data-entity=search-movies]', function(){
    clearTimeout(timer);
    timer = setTimeout(function(){
      $.get('/search.js', {search: $('[data-entity=search-movies]').val()})
    }, 300);
  })
