#footer{
  background-color: #1a1b35;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  ul{
    list-style: none;
    display: flex;
    padding-left: 20px;
  }
  li{
    margin: 20px 30px 0 0;
  }
  a{
    color: white;
    opacity: .6
  }
  img{
    margin: 20px;
  }
  @media (max-width: 650px) {
    display: block;
    .right-side{
      display: flex;
      justify-content: space-between;
    }
  }
}
